div{
    border: 2px solid;
    border-color: red;
}
.cell{
    width: 50px;
    height: 50px;
    border: 1px solid;
    box-shadow: 0 0 0 2px;
    line-height: 50px;
    font-size: 30px;
    cursor: pointer;
}
#game{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}
#cellContainerA{
    display: grid;
    grid-template-columns: repeat(10, auto);
    width: 50%;
}
#cellContainerB{
    display: grid;
    grid-template-columns: repeat(10, auto);
    width: 50%;
}
.gameplay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /* width: 100%; */
}
.gameplayContainer{
    margin: 10px;
    border: 1px solid blue;
}